.cover-image {
    width: 50%;
    /* 设置封面图片的宽度 */
    max-width: 40px;
    /* 设置封面图片的最大宽度 */
    height: 50px;
    /* 保持图片比例 */
    display: block;
    /* 确保图片是块级元素 */
    margin: 0 auto;
    /* 居中对齐 */
}